<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Merchandise - BRANDHIVE</title>
    <link rel="stylesheet" href="../static/postfolio.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/login_css1.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            background-color: #f8f9fc;
        }

        .navbar {
            background-color: #4e73df;
        }

        .sidebar {
            background-color: #343a40;
        }

        .card {
            transition: transform 0.2s;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-body h6 a {
            color: #333;
            text-decoration: none;
        }

        .card-body h6 a:hover {
            color: #4e73df;
        }

        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>BrandHIve</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/c_home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/cmerch"><i class="far fa-user-circle"></i><span>Merchandise</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/payment"><i class="far fa-user-circle"></i><span>Payment</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/c_home"><i class="fas fa-user-circle"></i><span>Chats</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/c_profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="row" style="margin: 25px;">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic1.jpeg" alt="Gold Jewellery">
                            </a>
                            <div class="card-body">
                                <h6><a>Gold Jewellery</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic2.jpeg" alt="Swipe Up">
                            </a>
                            <div class="card-body">
                                <h6><a>Swipe Up</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic3.jpeg" alt="Makeup">
                            </a>
                            <div class="card-body">
                                <h6><a>Makeup</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic4.jpeg" alt="Hoodie">
                            </a>
                            <div class="card-body">
                                <h6><a>Hoodie</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic5.jpeg" alt="Ariana Grande Pullover">
                            </a>
                            <div class="card-body">
                                <h6><a>T-shirts</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="https://mostlysane.themerchbay.com/" style="display: block; height: 260px; overflow: hidden;">
                                <img class="card-img-top scale-on-hover" src="../static/imgs/pic6.jpeg" alt="Lens">
                            </a>
                            <div class="card-body">
                                <h6><a>Lens</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; 2025 BrandHive. All rights reserved.</p>
                <a href="/privacy-policy" style="color: white;">Privacy Policy</a> | 
                <a href="/terms-of-service" style="color: white;">Terms of Service</a>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script id="bs-live-reload" data-sseport="56184" data-lastchange="1628947962431" src="/js/livereload.js"></script>
</body>

</html>